#!/usr/bin/make -f

export DEB_CFLAGS_MAINT_APPEND = -D_FILE_OFFSET_BITS=64 -D_LARGEFILE_SOURCE
export DEB_CPPFLAGS_MAINT_APPEND = -D_FILE_OFFSET_BITS=64 -D_LARGEFILE_SOURCE

%:
	dh $@

override_dh_auto_test:
	# Integration tests require FUSE mount capabilities not available in package builders.
	:

